.content-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  text-align: center;
}

.card img {
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.col-md-4 {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
}